<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>login</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/main.css">
</head>
<body>
    <div class="LoginPage">
        <div class="LoginPage_main">
            <div class="LoginPage_logo"><h3>AutoManagement</h3></div>
            <div class="LoginPage_form">
                <div>
                    <input type="text" name="username" placeholder="请输入用户名">
                </div>
                <div>
                    <input type="password" name="password" placeholder="请输入密码">
                </div>
                <div>
                    <button type="submit">登录</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>