<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Log in | DAMS</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/login.css">
    <script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
</head>
<body class="Login">
    <div class="LoginPage_con">
        <div class="LoginPage_logo">
                <h1>AutoManagement</h1>
        </div>

        <div class="LoginPage_form">
            <form action="/logincheck" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <input type="text" name="username" placeholder="请输入用户名" id="id_username">
                </div>
                <div class="form-row">
                    <input type="password" name="password" placeholder="请输入密码" id="id_password">
                </div>
                <div class="submit-row">
                    <input type="submit" value="Log in" id="btn">
                </div>
            </form>
        </div>
    </div>
</body>
</html>