<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/mchoice.css">
</head>
<body class="dashboard">
    <div class="container">
        <div class="header">
            <h1>AutoManagement</h1>
        </div>
        <div class="content">
            <div class="div1"><a href="/mysqlsingle">MySQL Single Node</a></div>
            <div class="div3"><a href="/galeracluster">MariaDB Galera Cluster</a></div>
        </div>
    </div>
</body>
</html>