<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySQL | Configuration</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/DB/mysqlsingleinstall.css">
</head>
<body class="mdashboard">
    <div class="mcontainer">
        <div class="mheader">
            <h1>MySQL Auto Configuration</h1>
        </div>

        <div class="mcontent">
            <div class="div1">MySQL Single Install</div>
            <div class="div2"><a href="#">正在部署</a></div>
        </div>
    </div>
</body>
</html>